<div id="<%= dom_id employment %>">
  <p>
    <strong>Employer:</strong>
    <%= employment.employer %>
  </p>

  <p>
    <strong>Date started:</strong>
    <%= employment.date_started %>
  </p>

  <p>
    <strong>Date employment ended:</strong>
    <%= employment.date_employment_ended %>
  </p>

</div>
